header {
  margin-top: 20px;
  margin-bottom: 25px;

  .logo {
    img {
      width: 160px;
    }
  }

  .search {
    padding-top: 25px;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tools {
    padding-top: 38px;

    .pi {
      cursor: pointer;
      margin-right: 10px;
    }
  }
}
